{%- extends "bootstrap/base.html" %}
{% block styles %}
<style>
body {
background-image: url('static/pdx.jpg');
background-attachment: fixed;
font-family: sans-serif;
margin-top: 50px;
}
table{
  background-color: rgb(256,256,256,0.85);
  border-spacing: 10px;
}
</style>
{% endblock %}


{%block content%}
<center>
    <table cellpadding="10">
      <tr><td colspan="3">
  <center><h1>Hostels in {{ cityname }}</h1>


<!-- My first question, input class="input" means a text box -->
<h2>Select some hostels to compare their reviews:</h2></center>

<form action='/dirt', method='POST'>

      {% for hostel in hostelsummary %}

      <tr>
        <td colspan="3"><h3><input type="checkbox" name="{{ hostel[0] }}" value = "{{ hostel[0] }}" method='GET'>&nbsp;&nbsp;{{ hostel[0] }}</h3>
      <tr><td><b>Average Overall Rating:</b> {{ hostel[2] }}</td>
        <td class="labels"><b>Average Cleanliness Rating</b>: {{ hostel[9] }}</td>
        <td><b># Reviews:</b> {{ hostel[1] }}
        <tr><td colspan="3"><hr>
      </tr>
        {% endfor %}
        <tr><td colspan="3"><input type="hidden" name="cityname" value="{{ cityname }}">
          <center><button type="submit">Look for relevant reviews</button></center>
      </table>

  </div>
</form>
</center>

{% endblock%}
