{%- extends "bootstrap/base.html" %}

{% block styles %}
<style>
body {
background-image: url('static/pdx.jpg');
background-attachment: fixed;
font-family: sans-serif;
margin-top: 50px;
}
table{
  background-color: rgb(256,256,256,0.85);
  border-spacing: 10px;
}
</style>

{% endblock %}

{%block content%}
<center><table cellpadding="10">
  <tr>
<!--    reviews_compare.append([hostelname, hostelurl, numreviews, numclean,sentnum,cleanexcerpt])
-->
{% for hostel in summary %}
<td width="400" valign="top">

<center><h1><a href="{{ hostel[1] }}">{{ hostel[0] }}</a></h1></center>
<hr>

<!-- This is the important part!!
The following code is basically what reads your data and runs your function from app.py
Don't forget the {% for x in whatever %} if you use a for loop and end the for loop with {% endfor %} -->
<ul>
<li><b>{{ hostel[3] }} out of {{ hostel[2] }} reviews</b> in the last 90 days discussed cleanliness.<br>
{% if hostel[3] > 0%}
<li><b>{{ hostel[4] }} reviews</b> were positive.
{% else %}
<li>No reviews to analyze
{% endif %}
</ul>
<hr>

{% if hostel[3] > 0 %}
<h3>Most recent reviews:</h3>

{% for excerpt in hostel[5].itertuples() %}

<h4>{{ excerpt.date }}, {{ excerpt.sentword }} review</h4>
{{ excerpt.review}}<br>

{% endfor %}

{% else %}
<h3>No relevant reviews to display. :(</h3>
{% endif %}

</td>
{% endfor %}

</tr>
</table>
</center>


{% endblock%}
